<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DETOX | About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Jockey+One&family=Merriweather&family=Montserrat:wght@500&family=Philosopher&family=Rajdhani:wght@400;600;700&family=Rubik+Mono+One&family=Russo+One&family=Sacramento&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"  href="/css/custom.css">

    <style>
     .log{
      color: #eb0000;
    }

     .navbar{
       font-size: 1.25rem;
       font-family: 'Jockey One', sans-serif;
      }
  
      body{
       font-family: 'Rajdhani', sans-serif;
       text-align: center;
       background-color: #f9f9f9;
      }

      img.about-img{
        width: 980px;
        height: 352px;
        object-fit: cover;
      }
      
      .about-top-container{
        margin-top:80px ;
      }

      .about{
       width: 250px;
       position: absolute;
       background-color: white;
       padding-top: 0px;
       top:200px;
       left: 512px;
      }

      h2{
       font-family: 'Jockey One', sans-serif;
       font-size: 3.5rem;
       padding-top: 10px;
      }

      h3{
       font-weight: 700;
       margin: 20px 0px;
      }

      .about-mid-container{
        text-align: justify;
        width: 78%;
        margin: 50px auto;
        font-weight: 600;
      }

      .bottom-container{
        background-color: #101010;
        color: #f9f9f9;
      }
    </style>

  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-black bg-white fixed-top">
      <img src="/images/DETOX-logos_black.png" alt="detox-red.img" height="50" width="60">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diagnose">Diagnose</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faqs">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link log" href="/">Log Out</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class="about-top-container">
      <div class="about">
        <h2>About</h2>
      </div>
        <img class="about-img"  src="/images/Abstract Lines .webp" alt="bg.img" >
    </div>

    <div class=about-mid-container>
      <h3>Empowering Health Insights</h3>
      <p>
        Detox is an advanced Disease Prediction System built with Node.js and Express, harnessing the power of 
        Random Forest for machine learning. This innovative platform empowers individuals to take control of their
        health by providing accurate disease predictions and personalized recommendations. With an elegant yet
        balanced approach, Detox offers a range of functionalities to enhance the user experience and facilitate 
        proactive health management. At its core, Detox utilizes Random Forest, a powerful machine learning algorithm
        , to analyze user-provided symptoms, medical history, and lifestyle data. Through this analysis, Detox 
        generates highly accurate predictions of potential diseases or health conditions. Leveraging the strengths 
        of Random Forest, Detox considers multiple variables and complex interactions, providing robust and reliable 
        predictions for individuals seeking actionable insights into their health.
      </p>
      <p>
        Detox goes beyond disease prediction, offering personalized recommendations tailored to each user's unique 
        profile. These recommendations encompass lifestyle changes, preventive measures, and potential treatments, 
        enabling users to make informed decisions about their well-being. By integrating state-of-the-art machine 
        learning with individual health data, Detox serves as a comprehensive health companion, assisting users in 
        their journey towards proactive health management.

        With its elegant design and user-friendly interface, Detox ensures a seamless and intuitive experience. 
        Users can easily input their symptoms, view predictions, and access personalized recommendations. Detox 
        also supports additional features such as health tracking, allowing users to monitor vital signs, track 
        symptoms over time, and maintain a comprehensive record of their health journey. By seamlessly combining 
        disease prediction, personalized recommendations, and health tracking, Detox empowers individuals to 
        proactively manage their health and lead healthier, more fulfilling lives.

        In summary, Detox is a sophisticated Disease Prediction System driven by Random Forest, providing accurate 
        predictions and personalized recommendations. With a focus on elegance and balance, Detox equips users with 
        the knowledge and tools necessary to take charge of their health. Through its seamless interface and 
        additional functionalities, Detox supports individuals in their pursuit of proactive health management and 
        empowers them to make informed decisions for a healthier future.
      </p>
      
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <p class="copyright">©  2023 <b>Aneesh Kaleru | Keesari Abhinav</b>.</p>
    </div>


    <script ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>